<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
   
   <script src="../js/jquery-1.11.2.min.js"></script>
   <script src="../js/bootstrap.min.js"></script>
  </head>

  <body>

  <!-- BEGIN MAIN CONTENT -->
            <div id="content">
                <!-- .outer -->
                <div class="container-fluid outer">
                    <div class="row-fluid">
                        <!-- .inner -->
                        <div class="span12 inner">
                        <hr>
                            <div class="row-fluid">
                               
                                <div class="span4">
                                    <div class="box">
                                        <header>
                                            <div class="icons"><i class="icon-tags"></i></div>
                                            <h5>Todos</h5>
                                        </header>
                                        <div class="block">
                                            <table class="table table-striped">
                                                <tbody>
													<tr class="success">
                                                        <td>
 															 <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#user">
																用户管理
															 </button>
															 <div id="user" class="collapse">
																<ul>
																  <li><a href="#" target="_self">新增用户</a> </li>
																</ul>
															 </div>
														</td>
                                                    </tr>
                                                    <tr class="success">
                                                     	<td>
															<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#article">
																文章管理
															</button>

															<div id="article" class="collapse">
															   <ul>
																 <li><a href="#" target="_self">文章列表</a></li>
																 <li><a href="/article/startWrite" target="_self">写文章</a></li>
															   </ul>
															</div>
 														</td>
                                                    </tr>
                                                    <tr class="success">
                                                     	<td>
															<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#article">
																外网数据
															</button>

															<div id="article" class="collapse">
															   <ul>
																 <li><a href="#" target="_self">数据抓取</a></li>
															   </ul>
															</div>
 														</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.inner -->
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->
            </div>
            <!-- END CONTENT -->
            








  </body>
</html>
